body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    overflow: hidden;
    width: 80%; 
    justify-content: center;
    padding-top: 60px;
}
.text{
    float:right;
    width: 500px;  
    line-height: 30px;
    margin-top: 50px;
}
.images{
    width: 700px;
    height: 1000px;
    float: left;
    overflow: hidden;
    margin-top: 60px;

}
.col1{
    width: 300px;
    float: left;   
}
.col2{
    width: 300px;
    float: left;
    margin-left: 50px;
    
}
.pic{
    width: 280px;
    height: 300px;
    float: left;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
}
.description{
    color: rgb(177, 174, 174);
    font-size: 10px;
    text-align: center;
    
    width: 280px;
    display: block;

}
.prac1{
    font-size: 45px;
    width: auto;
}
.prac2{
    font-size: 45px;
    width: auto;
}
@media screen and (max-width:900px){
        /*모바일용 css*/
        body {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        

    }
    .text{
        width: 100%; 
        height: 300px;
        line-height: 30px;
        margin-top: 30px;
        overflow: scroll;
    }
    .images{
        width: 100%;
        height: 25%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }
    .col1{
        width: 80%;
        display: flex;
        margin: 10px;
        float: left;
        
        
    }
    .col2{
        width: 80%;
        left: 30px;
        display: flex;
        margin: 10px;
        float: right;
        padding-left: 300px;
        
        
    }
    .pic{
        width: 280px;
        height: 300px;
        float: left;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .container{
        
        width: 80%; /* 전체 화면의 80%를 차지하도록 설정 */
        justify-content: center;
        padding-top: 80px;
    }
    .prac1{
        position: absolute;
        left: 30px;
        top: 70px;
        font-size: 40px;
        margin: 10px;
        
    }
    .prac2{
        position: absolute;
        left: 30px;
        top: 860px;
        font-size: 40px;
        margin: 10px;
        
    }
        /*모바일용 css*/
    .description{
        display: none;
    }
    }
