/* 배경 기본 블러*/
.background {
    filter: blur(40px);
  }

/* 네비바 */
li {list-style: none;}
a {text-decoration: none; color: inherit;}
#navbar {
  position: relative;
  width: 100%;
  height: 60px;
  top:0;
  background-color: #02151fe0;
  z-index: 1;
}
#navbar::after {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to left, hsla(189, 72%, 93%, 0.664), rgba(76, 90, 97, 0.664) 80%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.nav_logo{float: left;}
.nav_logo h5 {
  float: left;
  font-size: 30px;
  font-weight: 500;
  margin:10px;
  padding-left: 20px;
}
#navbar .nav_menu{
  display: flex;
  float: right;
  margin-top: 20px;
  padding-right: 35px;
}
#navbar .nav_menu ul{
  margin: 0;
  padding: 0;
}
#navbar .nav_menu li{display: inline; padding-left: 45px;}
#navbar .nav_menu li a{display: inline-block; font-size: 20px;}

/* 햄버거 메뉴*/
.mNav{
  position:absolute;
  height: 45px;
  top: 18px;
  right: 18px;
  cursor: pointer;
  display: none;
}
.mNav .icon_wrap .icon{
  width: 38px;
  height: 3.3px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}
.mNav .icon_wrap .icon::before, .mNav .icon_wrap .icon::after{
  content: " ";
  position:absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 3.3px;
  background-color: white;
  border-radius: 5px;
}
.mNav .icon_wrap .icon::after{
  top: 20px;
}



@media screen and (max-width:900px){
  .nav_logo h5{font-size: 25px; display: flex; justify-content: center;}
  #navbar{width:100%;}
  #navbar::after{display: none;}
  #navbar i{ margin: 10px 0; text-align: center; width: 100%; }
  #navbar .nav_menu{
    display: none; 
    position: absolute;
    top:60px;
    right:0;
    width: 40%; 
    height: 100vh;
    padding:0;
    margin:0;
    background-color: #02151ff8;
    z-index: 1;
  }
  
  .mNav{display: block;}
  #navbar .nav_menu li{ 
    padding: 20px 40px;
    text-align: center;
    display: block;
    font-size: 3px;
    border-bottom: 1px solid #dbdbdb48;
  }
  #navbar .nav_menu li div{
    width: 100px;
 }
 #navbar .nav_menu li div a{
   font-size: 15px;
 }
            
}