{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEMORE+</title>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <!--js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'js/mNav.js' %}"></script>
    {% if not_date %}
        <script src="{% static 'js/already.js' %}" data-not-date="{{ not_date|yesno:"true,false" }}"></script>
    {% endif %}
</head>
<body>
    <div class="bg"> <img src="{% static 'img/back.png' %}" class="background"></div>
    <!-- 네비바 -->
    <div id="navbar">
        <div class="nav_logo"><a href="{% url 'pageapp:index'%}"><h5>BEMORE+</h5></a></div>
        <div class="mNav">
            <div class="icon_wrap">
                <div class="icon"></div>
            </div>
        </div>
        <ul class="nav_menu">
            <li><div><a href="{% url 'joinFormapp:show_joinForm'%}">지원하기</a></div></li>
            <li><div><a id="apply" href="{% url 'pageapp:login' %}">합격자 조회</a></div></li>
            <li><div><a href="{% url 'pageapp:intro' %}">동아리 소개</a></div></li>
            <li><div><a href="{% url 'pageapp:act' %}">동아리 활동</a></div></li>
        </ul>
    </div>
    {% block content %}

    {% endblock%}
    <footer id="email">
        <p>ssubemore@gmail.com</p>
    </footer>
</body>
</html>
