{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/media_act.css'%}">
    <!--js-->
   
    <!-- 동아리 활동 -->
    <div class="container">
        <div class="images">
            <div class="col1">
                <h1 class="prac1">동아리 활동1</h1><br>
                <img class="pic" src="{% static 'img/pic1.jpg' %}">
                <p class="description">예 설명란입니다</p>
                <img class="pic" src="{% static 'img/pic2.jpg' %}">
                <p class="description">예 설명란입니다</p>
            </div>
            <div class="col2">
                <img class="pic" src="{% static 'img/pic3.jpg' %}">
                <p class="description">예 설명란입니다</p>
                <img class="pic" src="{% static 'img/pic4.jpg' %}">
                <p class="description">예 설명란입니다</p>
            </div>
        </div>
        <div class="text">
            <p>예 저희 동아리는 비모어고여 할말이 딱히 없군요.. 저희는 대빵 민정언니의 아래에서 프론트 노예가 된 조수빈과 채서연이라고 합니다..
                하지만 노예의 삶 그리 나쁘지 않아요 야러분도 함께 노예가 되어보시겠습니까? 저희는 열심히 취준해서 돈 많이 벌거에여
                아 내용 채우기용으로 뭐라도 써야하는데... 님들 실리카겔을 아십니까. 여드름연고 아닙니다. 아토피 치료제?
                아닙니다. 밴드입니다 틱택톡이 미친놈입니다 모두 들으세요 실리카겔붐은이미왔다 </p>
        </div>
    </div>
    <div class="container">
        <div class="images">
            <div class="col1">
                <h1 class="prac2">동아리 활동2</h1><br>
                <img class="pic" src="{% static 'img/pic1.jpg' %}">
                <p class="description">예 설명란입니다</p>
                <img class="pic" src="{% static 'img/pic2.jpg' %}">
                <p class="description">예 설명란입니다</p>
            </div>
            <div class="col2">
                <img class="pic" src="{% static 'img/pic3.jpg' %}">
                <p class="description">예 설명란입니다</p>
                <img class="pic" src="{% static 'img/pic4.jpg' %}">
                <p class="description">예 설명란입니다</p>
            </div>
        </div>
        <div class="text">
            <p>예 저희 동아리는 비모어고여 할말이 딱히 없군요.. 저희는 대빵 민정언니의 아래에서 프론트 노예가 된 조수빈과 채서연이라고 합니다..
                하지만 노예의 삶 그리 나쁘지 않아요 야러분도 함께 노예가 되어보시겠습니까? 저희는 열심히 취준해서 돈 많이 벌거에여
                아 내용 채우기용으로 뭐라도 써야하는데... 님들 실리카겔을 아십니까. 여드름연고 아닙니다. 아토피 치료제?
                아닙니다. 밴드입니다 틱택톡이 미친놈입니다 모두 들으세요 실리카겔붐은이미왔다 </p>
        </div>
    </div>

{% endblock %}